<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586195917947-7o528q145jce5vkvesc0cvghjpd5sjgr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586195917947-7o528q145jce5vkvesc0cvghjpd5sjgr</string>
	<key>API_KEY</key>
	<string>AIzaSyAFTmq2AybsatezOUp5qPb11Anc6UwXbJw</string>
	<key>GCM_SENDER_ID</key>
	<string>586195917947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.RNFCMPushNotificationDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-rn-fcm-15fb4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-rn-fcm-15fb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586195917947:ios:6e892d88627b4d0427d6de</string>
</dict>
</plist>